/* Global Layout Set-up */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
    background: #fafafa;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #4a4a4a;
}
a:hover {
    color: #6633ff;
}

/* Section Styles */

ul {
    padding: 0;
}
nav li {
    list-style-type: none;
    background-color: #ffffff;
    padding: 15px;
    margin: 5px 15px;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
}

.main-header{
    padding: 10px;
}

.main-header img {
    width: 70%;
    padding-top: 10px;
}

.name {
    margin: 15px;
    padding: 0;
    text-transform: none;
    font-size: 1.7rem;
}

p {
    line-height: 1.5rem;
}

img {
    width: 100%;
    margin: 10px 0px;
}

main {
    padding: 15px;
    background-color: #ffffff;
    color: #4a4a4a;
}

h1 {
    text-transform: uppercase;
    padding: 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: #4a4a4a;
    margin: 0px;
}

h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

footer {
    padding: 15px;
}

footer nav {
    display: none;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: #7f7f7f dotted 1px;
}

.nav-footer a {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.nav-footer p {
    font-weight: 700;
    color: #4a4a4a;
}

/*************
MEDIA QUERIES
*************/

/*** TABLET STYLES ***/
@media (min-width: 768px) {

    body {
        margin: 50px 15px;
    }

    article p {
        padding: 0px 20px;
    }

    header {
        padding: 0 20px;
    }

    ul {
        margin-top: 1.5rem;
    }
    nav li {
        display: inline;
        background-color: #fafafa;
    }

    .main-header {
        display: flex;
        flex-direction: row-reverse;
        text-align: left;

    }

    .main-header img {
        max-width: 40%;
        margin: 15px;
    }

    section {
        display: flex;
        flex-wrap: wrap;
    }

    section h1 {
        display: block;
        width: 100%;
    }

    article {
        width: 50%;
        padding: 5px;
    }

    #collapsed-menu {
        display: none;
    }

    footer nav {
        display: inline;
    }

    .main-header p, footer p {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.7rem;
    }

    footer p {
        padding: 0 3rem;
    }

    aside {
        padding-bottom: 20px;
    }
}

/*** DESKTOP STYLES ***/
@media (min-width: 1024px) {

    .main-header{
        padding-bottom: 3rem;
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
    }

    article {
        width: 33.33%;
    }

    .main-header p, footer p {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: auto 2rem;
    }
}